src/Xsd/AvaliacaoAtuaria/PlanoCusteio.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:simpleType name="empty-string">
    <xs:restriction base="xs:string">
      <xs:enumeration value=""/>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="SIAP">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Codigo">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:minLength value="1"/>
              <xs:maxLength value="6"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="Exercicio">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:minLength value="4"/>
              <xs:maxLength value="4"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="Mes">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:minLength value="1"/>
              <xs:maxLength value="2"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="PlanoCusteio" minOccurs="0" maxOccurs="unbounded">
          <xs:complexType>
            <xs:all>
              <xs:element name="TipoFundo" minOccurs="1" maxOccurs="1">
                <xs:simpleType>
                  <xs:restriction base="xs:string">
                    <xs:enumeration value="1"/>
                    <xs:enumeration value="2"/>
                    <xs:enumeration value=""/>
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
              <xs:element name="TipoMassa" minOccurs="1" maxOccurs="1">
                <xs:simpleType>
                  <xs:restriction base="xs:string">
                    <xs:minLength value="1"/>
                    <xs:maxLength value="16"/>
                    <xs:pattern value="[0-9]*"/>
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
              <xs:element name="BaseCalculoAnualAtivos" minOccurs="1" maxOccurs="1">
                <xs:simpleType>
                  <xs:restriction base="xs:decimal">
                    <xs:totalDigits value="13"/>
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
              <xs:element name="BaseCalculoAnualAposentados" minOccurs="1" maxOccurs="1">
                <xs:simpleType>
                  <xs:restriction base="xs:decimal">
                    <xs:totalDigits value="13"/>
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
              <xs:element name="BaseCalculoAnualPensionistas" minOccurs="1" maxOccurs="1">
                <xs:simpleType>
                  <xs:restriction base="xs:decimal">
                    <xs:totalDigits value="13"/>
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
              <xs:element name="BaseCalculoAnualDespesasAdm" minOccurs="1" maxOccurs="1">
                <xs:simpleType>
                  <xs:restriction base="xs:decimal">
                    <xs:totalDigits value="13"/>
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
              <xs:element name="PrevisaoContribuicaoAnualPatronal" minOccurs="1" maxOccurs="1">
                <xs:simpleType>
                  <xs:restriction base="xs:decimal">
                    <xs:totalDigits value="13"/>
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
              <xs:element name="PrevisaoContribuicaoAnualSegurado" minOccurs="1" maxOccurs="1">
                <xs:simpleType>
                  <xs:restriction base="xs:decimal">
                    <xs:totalDigits value="13"/>
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
              <xs:element name="PrevisaoContribuicaoAnualAposentado" minOccurs="1" maxOccurs="1">
                <xs:simpleType>
                  <xs:restriction base="xs:decimal">
                    <xs:totalDigits value="13"/>
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
              <xs:element name="PrevisaoContribuicaoAnualPensionista" minOccurs="1" maxOccurs="1">
                <xs:simpleType>
                  <xs:restriction base="xs:decimal">
                    <xs:totalDigits value="13"/>
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
              <xs:element name="LimiteGastosDespesasAdm" minOccurs="1" maxOccurs="1">
                <xs:simpleType>
                  <xs:restriction base="xs:decimal">
                    <xs:totalDigits value="13"/>
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
              <xs:element name="AliquotaSegurado" minOccurs="1" maxOccurs="1">
                <xs:simpleType>
                  <xs:union memberTypes="empty-string">
                    <xs:simpleType>
                      <xs:restriction base="xs:decimal">
                        <xs:totalDigits value="13"/>
                      </xs:restriction>
                    </xs:simpleType>
                  </xs:union>
                </xs:simpleType>
              </xs:element>
              <xs:element name="AliquotaPatronal" minOccurs="1" maxOccurs="1">
                <xs:simpleType>
                  <xs:union memberTypes="empty-string">
                    <xs:simpleType>
                      <xs:restriction base="xs:decimal">
                        <xs:totalDigits value="10"/>
                      </xs:restriction>
                    </xs:simpleType>
                  </xs:union>
                </xs:simpleType>
              </xs:element>
              <xs:element name="AliquotaPatronalExtraordinaria" minOccurs="1" maxOccurs="1">
                <xs:simpleType>
                  <xs:restriction base="xs:decimal">
                    <xs:totalDigits value="13"/>
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
              <xs:element name="AliquotaPatronalOrdinaria" minOccurs="1" maxOccurs="1">
                <xs:simpleType>
                  <xs:restriction base="xs:decimal">
                    <xs:totalDigits value="13"/>
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
              <xs:element name="PrevisaoContribuicaoInsuficienciaFinanceira" minOccurs="1" maxOccurs="1">
                <xs:simpleType>
                  <xs:restriction base="xs:decimal">
                    <xs:totalDigits value="13"/>
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
            </xs:all>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
