src/Xsd/Beneficiarios/Investimentos/CarteiraInvestimento.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:simpleType name="empty-string">
    <xs:restriction base="xs:string">
      <xs:enumeration value=""/>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="SIAP">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Codigo">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:minLength value="1"/>
              <xs:maxLength value="6"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="Exercicio">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:minLength value="4"/>
              <xs:maxLength value="4"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="Mes">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:minLength value="1"/>
              <xs:maxLength value="2"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="CarteiraInvestimento" minOccurs="0" maxOccurs="unbounded">
          <xs:complexType>
            <xs:all>
              <xs:element name="Mes" minOccurs="1" maxOccurs="1">
                <xs:simpleType>
                  <xs:restriction base="xs:string">
                    <xs:minLength value="0"/>
                    <xs:maxLength value="2"/>
                    <xs:pattern value="[0-9]*"/>
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
              <xs:element name="Ano" minOccurs="1" maxOccurs="1">
                <xs:simpleType>
                  <xs:restriction base="xs:string">
                    <xs:minLength value="0"/>
                    <xs:maxLength value="4"/>
                    <xs:pattern value="[0-9]*"/>
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
              <xs:element name="CNPJAtivo" minOccurs="1" maxOccurs="1">
                <xs:simpleType>
                  <xs:restriction base="xs:string">
                    <xs:minLength value="0"/>
                    <xs:maxLength value="14"/>
                    <xs:pattern value="[0-9]*"/>
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
              <xs:element name="NomeAtivo" minOccurs="1" maxOccurs="1">
                <xs:simpleType>
                  <xs:restriction base="xs:string">
                    <xs:minLength value="0"/>
                    <xs:maxLength value="50"/>
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
              <xs:element name="Seguimento" minOccurs="1" maxOccurs="1">
                <xs:simpleType>
                  <xs:restriction base="xs:string">
                    <xs:minLength value="1"/>
                    <xs:maxLength value="1"/>
                    <xs:pattern value="[0-9]*"/>
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
              <xs:element name="Enquadramento" minOccurs="1" maxOccurs="1">
                <xs:simpleType>
                  <xs:restriction base="xs:string">
                    <xs:enumeration value="1"/>
                    <xs:enumeration value="2"/>
                    <xs:enumeration value="3"/>
                    <xs:enumeration value="4"/>
                    <xs:enumeration value="5"/>
                    <xs:enumeration value="6"/>
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
              <xs:element name="QuantidadeCotas" minOccurs="1" maxOccurs="1">
                <xs:simpleType>
                  <xs:union memberTypes="empty-string">
                    <xs:simpleType>
                      <xs:restriction base="xs:decimal">
                        <xs:totalDigits value="13"/>
                      </xs:restriction>
                    </xs:simpleType>
                  </xs:union>
                </xs:simpleType>
              </xs:element>
              <xs:element name="ValorCota" minOccurs="1" maxOccurs="1">
                <xs:simpleType>
                  <xs:union memberTypes="empty-string">
                    <xs:simpleType>
                      <xs:restriction base="xs:decimal">
                        <xs:totalDigits value="13"/>
                      </xs:restriction>
                    </xs:simpleType>
                  </xs:union>
                </xs:simpleType>
              </xs:element>
              <xs:element name="PatrimonioLiquidoAtivo" minOccurs="1" maxOccurs="1">
                <xs:simpleType>
                  <xs:union memberTypes="empty-string">
                    <xs:simpleType>
                      <xs:restriction base="xs:decimal">
                        <xs:totalDigits value="15"/>
                      </xs:restriction>
                    </xs:simpleType>
                  </xs:union>
                </xs:simpleType>
              </xs:element>
            </xs:all>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
