src/Xsd/Beneficiarios/Parcelamento/Parcelamento.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:simpleType name="empty-string">
    <xs:restriction base="xs:string">
      <xs:enumeration value=""/>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="SIAP">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Codigo">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:minLength value="1"/>
              <xs:maxLength value="6"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="Exercicio">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:minLength value="4"/>
              <xs:maxLength value="4"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="Mes">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:minLength value="1"/>
              <xs:maxLength value="2"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="Parcelamento" minOccurs="0" maxOccurs="unbounded">
          <xs:complexType>
            <xs:all>
              <xs:element name="CNPJOrgaoParcelamento" minOccurs="1" maxOccurs="1">
                <xs:simpleType>
                  <xs:restriction base="xs:string">
                    <xs:minLength value="1"/>
                    <xs:maxLength value="14"/>
                    <xs:pattern value="[0-9]*"/>
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
              <xs:element name="NomeOrgaoParcelamento" minOccurs="1" maxOccurs="1">
                <xs:simpleType>
                  <xs:restriction base="xs:string">
                    <xs:minLength value="1"/>
                    <xs:maxLength value="50"/>
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
              <xs:element name="NumeroLei" minOccurs="1" maxOccurs="1">
                <xs:simpleType>
                  <xs:restriction base="xs:string">
                    <xs:minLength value="1"/>
                    <xs:maxLength value="50"/>
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
              <xs:element name="NumeroAcordo" minOccurs="1" maxOccurs="1">
                <xs:simpleType>
                  <xs:restriction base="xs:string">
                    <xs:minLength value="1"/>
                    <xs:maxLength value="50"/>
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
              <xs:element type="xs:date" name="CompetenciaInicial" minOccurs="1" maxOccurs="1"/>
              <xs:element type="xs:date" name="CompetenciaFinal" minOccurs="1" maxOccurs="1"/>
              <xs:element type="xs:date" name="DataVencimento" minOccurs="1" maxOccurs="1"/>
              <xs:element name="ValorTotalParcelamento" minOccurs="1" maxOccurs="1">
                <xs:simpleType>
                  <xs:restriction base="xs:decimal">
                    <xs:totalDigits value="53"/>
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
              <xs:element name="QuantidadeParcelas" minOccurs="1" maxOccurs="1">
                <xs:simpleType>
                  <xs:restriction base="xs:string">
                    <xs:minLength value="1"/>
                    <xs:maxLength value="32"/>
                    <xs:pattern value="[0-9]*"/>
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
              <xs:element name="Reparcelamento" minOccurs="1" maxOccurs="1">
                <xs:simpleType>
                  <xs:restriction base="xs:string">
                    <xs:minLength value="1"/>
                    <xs:maxLength value="32"/>
                    <xs:pattern value="[0-9]*"/>
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
              <xs:element name="NumeroAcordoOriginal" minOccurs="1" maxOccurs="1">
                <xs:simpleType>
                  <xs:restriction base="xs:string">
                    <xs:minLength value="0"/>
                    <xs:maxLength value="50"/>
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
              <xs:element name="IndexadorMonetario" minOccurs="1" maxOccurs="1">
                <xs:simpleType>
                  <xs:restriction base="xs:decimal">
                    <xs:totalDigits value="13"/>
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
            </xs:all>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
